/* Scrollbar width 4 px */

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}
